html { background: url(../img/bg.jpg) fixed center top repeat-x;}
body { 
  background: url(../img/bg_middle.jpg) fixed left top no-repeat;
  min-height: 326px;
  color: #818d93;
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 0;
  padding-bottom: 40%;
  margin: 0;
}


* { font-weight: normal; }

h1, h2, h3, h4, h5, h6, p, ul, ol, pre {
  margin: 0 0 0.8em;
}

h1, h2, h3, h4 {
  margin-bottom: 0.4em;
  font-weight: bold;
}

h1 {
  padding-top: 0.5em;
  color: #335865;
}

h2 {
  margin-top: 1.0em;
  border-top: 0.65em solid rgba( 0, 0, 0, 0.05 );
  padding-top: 0.5em;
}

p, li {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;
}

li {
  margin-bottom: 0.4em;
}
    
#content > * {
  padding: 0.6em 0.2em;
  background:rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

a {
  color: #d2a363;
  text-decoration: none;
  border-bottom: 0.08em solid;
}

a:hover {
  color: #335865;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  padding:0;
  box-shadow:0 1px 5px rgba(0, 0, 0, 0.05);
}

blockquote {
  max-width: 75%;
  border: 0.2em solid rgba(0, 0, 0, 0.05);
  margin: 2em auto;
  text-align:left;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

blockquote p {
  padding-left: 1em;
  line-height: 1.5em;
}

/* ---- #content ---- */

#content {
  overflow-x: hidden;
  text-align: center;
}
/*    
#content ul {
  list-style-type: none;
}
    
#content ul li {
  position: relative;
}
#content ul li:before {
  content: '●';
  position: absolute;
  left: -1.0em;
  top: -0.2em;
  color: #FF3;
}
*/

/* ---- util ---- */

.two-col .col {
  width: 50%;
  float: left;
  text-align: center;
}

#content .two-col .col ul {
  list-style-type: none;
  padding-left: 0;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* ---- preso ---- */

.preso-item,
.directions {;
  -webkit-transition: -webkit-transform, opacity;
     -moz-transition:    -moz-transform, opacity;
      -ms-transition:     -ms-transform, opacity;
       -o-transition:      -o-transform, opacity;
          transition:         transform, opacity;
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
}
    
.preso-enabled .preso-item.hidden,
html:not(.preso-enabled) .directions {
  opacity: 0;
  pointer-events: none;
/*  -webkit-transform: scaleY(0.01) scaleX(2);
     -moz-transform: scaleY(0.01) scaleX(2);
      -ms-transform: scaleY(0.01) scaleX(2);
       -o-transform: scaleY(0.01) scaleX(2);
          transform: scaleY(0.01) scaleX(2);
*/}

.preso-item.current,
.preso-item.current a {
  color: #335865;
  opacity: 1;
}

.preso-item.current a:hover { color: #284753; }

/* ---- options ---- */

#options {
  position: fixed;
  z-index: 100;
  background: rgba( 0, 0, 0, 0.65 );
  left: 0.5em;
  bottom: 0.5em;
  list-style: none;
  margin: 0;
  padding: 10px;
  color: #eee;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: opacity 0.6s;
     -moz-transition: opacity 0.6s;
      -ms-transition: opacity 0.6s;
       -o-transition: opacity 0.6s;
          transition: opacity 0.6s;
}

#options:hover {
  opacity: 1;
}
#options label, #options input {
  display:inline-block;
  line-height:20px;
  vertical-align: middle;
  color: #eee;
}

/* ---- code ---- */

pre, code {
  background: black;
  color: white;
  font-family: Monaco, monospace;
  font-size: 90%;
}
    
pre {
  text-align: left;
  padding: 0.5em 1.0em;
  white-space: pre-wrap;
}
 
code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */
 
code .c, /* comment */
code .c1 { color: #666; font-style: italic; }
 
code .nt { color: #A0C8FC; } /* Markup open tag */
 
code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

